h1 {
  font-size: 2.4rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  height: 100%;
}

main {
  display: flex;
  flex: 5;
  width: 100%;
  gap: 20px;

  .inner {
    background-color: #75e748;
    flex: 7;
    text-align: center;
  }
}
