<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
  </head>
  <body>
    <div class="wrapper">
      <%- include("./partials/header.ejs") %>
      <%-include("./partials/navigation.ejs") %>
      <main>
        <%-include("./partials/sidebar.ejs") %>
        <div class="inner">
          <h1>Contact</h1>
          <ul>
            <li><a href="./index.html">1. home</a></li>
            <li><a href="./about.html">2. about</a></li>
          </ul>
        </div>
      </main>
      <%- include("./partials/footer.ejs") %>
    </div>
    <script type="module" src="./main.js"></script>
  </body>
</html>
